<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Android 13+ -->
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" tools:targetApi="33"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" tools:targetApi="33"/>

    <!-- Android 12↓ -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>

    <application ...>...</application>
</manifest>
